/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


/* Global variables*/
:root{
    --sideBGcolor: #040b14;
    --themecolor:  #00A78E;
    --iconBGcolor:   #2C2F3F;
    --textBGcolor:  #525252;
    --bgcolor: #f7f7f7;
}

/* ==== Header start====*/
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGcolor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGcolor);
}
header .profile h1{
    color: white;
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGcolor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profile .social-icons a:hover{
    background-color: var(--themecolor);
}

/* nav bar */

header nav{
margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themecolor);
}
header nav ul li .active i{
   color: var(--themecolor);
}
header .footer{
    text-align: center;
    background-color: var(--sideBGcolor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
header .footer p a{
    color: var(--themecolor);
}

/* mobile nav toggle */
#MenuBtn{
position: fixed;
top: 25px;
right: 25px;
font-size: 20px;
width: 40px;
height: 40px;
color: white;
background-color: var(--themecolor);
text-align: center;
line-height: 42px;
border-radius: 50%;
box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
display: none;
z-index: 999;
}
/* mobile view */
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
/* Header toggle */
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active header .footer{
     left: 0;   
}
 
/* ==== Header End====*/

/* ---------------------------------------------------------------------------- */

/* ====main section==== */
main{
    margin-left: 300px;
    background-color: var(--bgcolor);
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* ---====Home sction====--- */

#home{
    height: 100vh;
    width: 100%;
    background-image: url(IMG_20210825_204903.JPG);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;

}
/* overlay */
#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
